@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ant-select-selector {
  background-color: transparent !important;
  cursor: pointer !important;
  color: white !important;
  border: none !important;
}

.ant-select-arrow {
  color: white !important;
}
.ant-select-dropdown {
  background-color: black !important;
  color: white !important;
}
.ant-select-item-option-content {
  color: white !important;
}
.ant-select-item-option-content:hover {
  color: white !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: gray !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #333 !important;
}
