@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* START Dropdown menu: antd */

.ant-select-show-search {
  width: 170px !important;
}
.ant-select-selector {
  background-color: transparent !important;
  cursor: pointer !important;
  color: white !important;
  border: none !important;
  font-size: 15px;
  letter-spacing: 0.08rem;
  font-weight: 600;
}
.ant-select-arrow {
  color: white !important;
}
.ant-select-dropdown {
  background-color: black !important;
  color: white !important;
  font-size: 15px;
  letter-spacing: 0.02rem;
  font-weight: 600;
  width: 300px !important;
  gap: 20px !important;
}
.ant-select-item-option-content {
  color: white !important;
  font-size: 18px !important;
}
.ant-select-item-option-content:hover {
  color: white !important;
}
.ant-select-item {
  margin-top: 10px;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: transparent !important;
  color: red !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent !important;
  color: blue !important;
}

.ant-select-dropdown,
.ant-select-dropdown-placement-bottomLeft,
.ant-select-dropdown-hidden {
  background-color: #191c21 !important;
  border-radius: 10px !important;
  margin-top: 20px !important;
}

/* END Dropdown menu: antd  */
/*.slick-slide, .slick-active, .slick-current{*/
/*    width: 300px !important;*/
/*}*/

.slick-next {
  background-color: red !important;
  right: 50px !important;
  z-index: 999 !important;
  /* color: blue !important; */
}
.slick-prev {
  left: 50px !important;
  z-index: 9999;
}

/* ==================================== */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 2000px;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  gap: 20px;
  animation: scroll 45s linear infinite;
  display: flex;
  width: calc(437px * 14);
}
.slide {
  height: 250px;
  width: 437px;
  border-radius: 30px !important;
  /* object-fit: cover; */
}
